* {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
}

#hero {
  padding: 50px;
}

content {
  /* display: flex; */
  padding-bottom: 50px;
}

#nav {
  background-color: lightgray;
  display: flex;
  padding: 20px 0;
  position: sticky;
}
#account-access {
  display: flex;
  padding: 0;
}
#account-access li {
  list-style: none;
  margin: auto 20px;
}
#page-nav {
  display: flex;
  padding: 0;
}
#page-nav li {
  list-style: none;
  margin: auto 20px;
}

.landing-info {
  padding: 50px;
}
.landing-info:nth-child(odd) {
  background: lightgray;
}

footer {
  background: lightgray;
  padding: 20px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  /* height: 100px; */
}




/* USER CARDS ---------------------------------*/
.browse-results{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.user-card {
  width: 170px;
  padding: 8px;
  border: 2px solid black;
}
.user-card img {
  border-radius: 100%;
}

.card-menu {
  padding: 0;
  display: flex;
  /* border: 2px solid black; */
  background: lightgray;
}
.card-menu li {
  list-style-type: none;
  padding: 5px;
}
.card-menu li:hover {
  background: white;
}

.folder-card {
  width: 170px;
  padding: 8px;
  border: 2px solid black;
  margin: 10px;
  background: white;
}
.folder-card img {
  border-radius: 10px;
}

.contact-folder {
  padding: 0;
  display: flex;
  /* border: 2px solid black; */
  background: lightgray;
}
.contact-folder li {
  list-style-type: none;
  padding: 5px;
}
.contact-folder li:hover {
  background: white;
}





/* USER PROFILE---------------------------*/

#user-profile {
  display: flex;
}
#profile-menu {
  flex: 1;
  height:100%;
  padding: 20px;
  position: sticky;
}
#profile-collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: gray;
}





/* cREATE BESTIARY------------------*/
.newField {
  border: 2px solid lightgray;
  width: 400px;
  padding: 5px;
}
.newField h4 {
  display: inline;
}

/* EXISTING BESTIARY---------------------- */
#collection-fields {
  padding: 0;
  /* display: flex; */
  background: darkgray;
  justify-content: space-evenly;
}
#collection-fields li {
  list-style: none;
  margin: 5px 20px;
}